body{
  margin:0px;
  background-color: #444;
}
nav ul{
  height:inherit;
  margin: 0px auto;
  float:left;
  padding-left: 0px;
  max-width: 100%;
}
nav ul li{
  padding-left: 0.5em;
  padding-right: 0.5em;
  float:inherit;
  list-style-type: none;
  font-size: 1.5em;
  background-color:inherit;
  color:white;
  height:inherit;
  vertical-align: middle;
}
li a{
  color:inherit;
  text-decoration: none;
}
hr{
  margin: 0px;
  color:red;
}
article{
  background-color: rgba(0,0,0,0);
}
select{
  width: 100%;
  text-align: center;
}
article h1{
  font-family: 'Rokkitt', serif;
  color:Beige;
  margin-bottom: 1px;
}
p,h2,h1{
  font-family: 'Gruppo', cursive;
  color:Beige;
  margin: 1px;
}
a{
  font-family: 'Rokkitt', serif;
}



