body{
  margin:0px;
  font-family: Futura;
}
nav ul{
  height:inherit;
  margin: 0px auto;
  float:left;
}
nav ul li{
  padding-left: 0.5em;
  padding-right: 0.5em;
  float:inherit;
  list-style-type: none;
  font-size: 1.5em;
  background-color:inherit;
  color:white;
  height:inherit;
  display:table-cell;
  vertical-align: middle;
}
li a{
  color:inherit;
  text-decoration: none;
}
hr{
  margin: 0px;
  border-color:red;
}
article:nth-child(odd){
  background-color:#333333;
}
article:nth-child(even){
  background-color:#666666;
}
select{
  width: 100%;
  text-align: center;
}
