.review-element{
  background-color: #222;
  padding: 3px;
  border-radius: 5px;

}
#content-display{
  margin: auto;
}
.read-more{
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 100px) and (max-width: 399px){
.mobile-icon{
  color: white;
  height:1.5em;
  width:100%;
  background-color: #222222;
  font-size:1.5em;
}
.navigation-wrapper {
    display: none;
    overflow: auto;
    background-color: #222222;
  }
.navigation-wrapper ul{
    width: 100%;
    padding-left: 0px;
  }
.navigation-wrapper ul li{
    text-align: center;
    width: 100%;
    overflow: auto;
  }
.review-element{
  transition: all 0.5s linear;
  padding:10px;
  margin:30px;
  max-width: 250px;
  min-height: 200px;
  display: block;
  float: left;
  text-overflow: ellipsis;
  }
}

@media screen and (min-width:400px) and (max-width: 654px){
.mobile-icon{
  color: white;
  height:1.5em;
  width:100%;
  background-color: #222222;
  font-size:1.5em;
}
.navigation-wrapper {
    display: none;
    overflow: auto;
    background-color: #222222;
  }
.navigation-wrapper ul{
    width: 100%;
    padding-left: 0px;
  }
.navigation-wrapper ul li{
    text-align: center;
    width: 100%;
    overflow: auto;
  }
.review-element{
  transition: all 0.5s linear;
  padding:10px;
  margin:30px;
  max-width: 90%;
  min-height: 200px;
  display: block;
  float: left;
  text-overflow: ellipsis;
  }
}

@media screen and (min-width:655px) and (max-width: 755px){
.mobile-icon{
  display: none;
}
.navigation-wrapper{
  display:block !important;
  height:2em;
  width:100%;
  background-color: #222222;
  }
.review-element{
  margin:20px;
  transition: all 0.5s linear;
  padding: 15px;
  width: 90%;
  height: 200px;
  display: block;
  float: left;
  text-overflow: ellipsis;
  }
}


@media screen and (min-width: 756px) and (max-width: 800px){
.mobile-icon{
  display: none;
}
.navigation-wrapper{
  display:block !important;
  height:2em;
  width:100%;
  background-color: #222222;
  }
.review-element{
  margin:20px;
  transition: all 0.5s linear;
  padding: 15px;
  width: 300px;
  height: 200px;
  display: block;
  float: left;
  text-overflow: ellipsis;
  }
}

@media screen and (min-width:801px){
  .mobile-icon{
    display: none;
  }
  .navigation-wrapper{
    display:block !important;
    height:2em;
    width:100%;
    background-color: #222222;
    }
  .review-element{
    margin:5px;
    transition: all 0.5s linear;
    padding: 25px;
    width: 350px;
    height: 250px;
    display: block;
    float: left;
    text-overflow: ellipsis;
    }
  }
}
